.container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;

  .table{
    border: 1px solid #5b5c61;
    border-radius: 5px;

    .table_data{
      border: 1px solid #5b5c61;
      border-radius: 5px;
      text-align: center;
    }
  }

  .buttons_container{
    display: flex;
    gap: 10px;
    width: fit-content;

    .button{
      background-color: #0074e0;
      color: #fcfdff;
      border: none;
      border-radius: 5px;
      width: 200px;
      height: 50px;
      cursor: pointer;
    }
  }
}